.cart{
    padding: 20px;
    width: 100%;
    .cart__title{
        font-size: 22px;
        color: var(--red);
        margin-bottom: 20px;
    }

    .cart__empty-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cart__empty-body__img{
            width: 40%;
        }
        .cart__empty-body_text{
            margin-top: 20px;
            font-size: 13px;
            font-weight: 600;
            color: var(--rose-500);
        }
    }

    .cart__content{

        .cart__content__footer{
            display: flex;
            flex-direction: column;
            
            .cart__content__footer__total{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px 0px;
                .cart__content__footer__total__text{
                    font-size: 13px;
                }
                .cart__content__footer__total__total-price{
                    font-size: 22px;
                    font-weight: 700;
                }
            }

            .cart__content__footer__info{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                gap: 10px;
                .cart__content__footer__info__text{
                    font-size: 14px;
                }
            }

            .cart__content__footer__button{
                border: none;
                background-color: var(--red);
                color: var(--rose-50);
                font-weight: 600;
                padding: 15px 70px;
                border-radius: 50px;
                font-family: inherit;
                transition: background 0.3s ease-in-out;        
            }
            .cart__content__footer__button:hover{
                cursor: pointer;
                background-color: var(--button-hover);
            }
        }
    }
}
